{% extends 'BDMNicolasBackendBundle::layout.html.twig' %}

{% block content %}

    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                {{ render(controller('BDMNicolasBackendBundle:Partials:flashbag')) }}

                <div class="col-lg-12">
                    <section class="panel">

                        <header class="panel-heading">
                            Gestion Des produits
                        </header>
                        <div class="panel-body">
                            <section id="unseen">
                                <div class="clearfix">
                                    <div class="btn-group">
                                        <button id="editable-sample_new" class="btn btn-primary"
                                                onclick="window.location='{{ url('_backend_product_add') }}'">
                                            Ajouter <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <br/>

                                {{ render(controller('BDMNicolasBackendBundle:Partials:flashbag')) }}

                                <br/>
                                {% if products|length !=0 %}
                                    <table id="dynamic-table"
                                           class="table table-bordered table-striped table-condensed">
                                        <thead>
                                        <tr>
                                            <th style="text-decoration: underline;"><strong>ID</strong></th>
                                            <th>Picto</th>
                                            <th>Nom</th>
                                            <th>Prix</th>
                                            {#<th>Prix Strike</th>#}
                                            {#<th>Prix Loyality</th>#}
                                            <th>Catégorie</th>
                                            {#<th>Marque</th>#}
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for product in products %}
                                            <tr>
                                                <td style="font-weight: 800;">{{ product.id }}</td>
                                                <td class="numeric" style="height: 130px;width: 50px;background-color: white;">
                                                    {% if product.getImages() is defined and product.getImages()|length>0 %}
                                                        {% set image = product.getImages()[0] %}
                                                        <a data-toggle="modal"
                                                           href="#myModal1{{ image.id }}">
                                                            <img src="{{ asset('/uploads/backend/product/image/' ~ image.file)| imagine_filter('back_products_linsting_thumb') }}"
                                                                 style="margin-left: auto;
	margin-right: auto;">
                                                        </a>

                                                        <div class="modal fade" id="myModal1{{ image.id }}"
                                                             tabindex="-1"
                                                             role="dialog" aria-labelledby="myModalLabel"
                                                             aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content"
                                                                     style="display: inline-block !important;">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal"
                                                                                aria-hidden="true">&times;</button>
                                                                        <h4 class="modal-title"> </h4>
                                                                    </div>
                                                                    <div class="modal-body"
                                                                         style="display: inline-block !important;">


                                                                        <div class="images item"
                                                                             style="display: inline-block !important;">
                                                                            <a href="#myModal{{ image.id }}"
                                                                               data-toggle="modal">
                                                                                <img src="{{ asset('/uploads/backend/product/image/' ~ image.file) }}"
                                                                                     alt=""
                                                                                     style="width: 100%; height: 100%;"/>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button data-dismiss="modal"
                                                                                class="btn btn-default"
                                                                                type="button">Fermer
                                                                        </button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <img src="https://dummyimage.com/130x130/ffffff/61615f.png&text=Image+Idisponible"
                                                             style="height: 130px;width: 130px;">
                                                    {% endif %}

                                                </td>


                                                <td>{{ product.label }}</td>
                                                <td>{{ product.regularPrice }} Dhs</td>
                                                {#<td>{{ product.strikePrice }} Dhs</td>#}
                                                {#<td>{{ product.loyalityPrice }} Dhs</td>#}
                                                <td>
                                                    {{ product.getSubCategory().getCategory().getLabel() }}
                                                </td>
                                                <td>
                                                    <button onclick="window.location='{{ url('_backend_product_image', {'id':product.id }) }}'"
                                                            type="button" class="btn btn-infos btn-xs"><i
                                                                class="fa fa-trash-o"></i> Images
                                                    </button>
                                                    <button onclick="window.location='{{ url('_backend_product_edit', {'id':product.id}) }}'"
                                                            type="button" class="btn btn-info btn-xs"><i
                                                                class="fa fa-edit"></i> Modifier
                                                    </button>
                                                    <button onclick="window.location='{{ url('_backend_product_delete', {'id':product.id }) }}'"
                                                            type="button" class="btn btn-danger btn-xs"><i
                                                                class="fa fa-trash-o"></i> Supprimer
                                                    </button>
                                                    <a target="_blank" href="{{ url('_backend_product_edit', {'id':product.id}) }}"> UP <a/>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                {% endif %}
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>

{% endblock %}
{% block css %}
    {#<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />#}
    <link href="{{ asset('assets/backend/js/data-tables/DT_bootstrap.css') }}" rel="stylesheet"/>
    <!--dynamic table-->
    <link href="{{ asset('assets/backend/js/advanced-datatable/css/demo_page.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/backend/js/advanced-datatable/css/demo_table.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('assets/backend/js/data-tables/DT_bootstrap.css') }}"/>
    <style>
        table {
            width: 500px;
            border: solid 1px black;
        }

        table td {
            text-align: center;
            vertical-align: middle !important;
            padding: 5px !important;
            position: relative;
        }

        table td img {
            width: 50px;
            vertical-align: middle;
            display: inline-block;
        }

        table td p {
            display: inline-block;
            width: 430px;
            background: #ccc;
            vertical-align: middle
        }
    </style>

{% endblock %}

{% block js %}
    <!--dynamic table-->
    <script type="text/javascript" language="javascript"
            src="{{ asset('assets/backend/js/advanced-datatable/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/backend/js/data-tables/DT_bootstrap.js') }}"></script>
    <script src="{{ asset('assets/backend/js/dynamic_table_init.js') }}"></script>

{% endblock %}