{% extends 'BDMNicolasBackendBundle::layout.html.twig' %}

{% block content %}

    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">

                        <header class="panel-heading">
                            Gestion Des Articles
                        </header>
                        <div class="panel-body">
                            <section id="unseen">
                                <div class="clearfix">
                                    <div class="btn-group">
                                            <button id="editable-sample_new" class="btn btn-primary"
                                                    onclick="window.location='{{ url('_backend_articles_add') }}'">
                                                Ajouter <i class="fa fa-plus"></i>
                                            </button>
                                    </div>
                                </div>
                                <br/>

                                {{ render(controller('BDMNicolasBackendBundle:Partials:flashbag')) }}

                                <br/>


                                {% if articles %}
                                    <table id="dynamic-table" class="table table-bordered table-striped table-condensed">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Titre</th>
                                            <th>Preview</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for article in articles %}
                                            <tr>
                                                <td>{{ article.id }}</td>
                                                <td>{{ article.title }}</td>
                                                <td class="numeric">
                                                    <a class="btn btn-success btn-xs" data-toggle="modal"
                                                       href="#myModal1{{ article.id }}">
                                                        Aperçu
                                                    </a>
                                                    <div class="modal fade" id="myModal1{{ article.id }}" tabindex="-1"
                                                         role="dialog" aria-labelledby="myModalLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content"
                                                                 style="display: inline-block !important;">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal"
                                                                            aria-hidden="true">&times;</button>
                                                                    <h4 class="modal-title">{{ article.title }}</h4>
                                                                </div>
                                                                <div class="modal-body"
                                                                     style="display: inline-block !important;">


                                                                    {#<div class="images item"
                                                                         style="display: inline-block !important;">
                                                                        <a href="#myModal{{ article.id }}"
                                                                           data-toggle="modal">
                                                                            <img src="{{ asset('/uploads/backend/article/article/' ~ article.preview) }}"
                                                                                 alt="{{ article.title }}"
                                                                                 style="width: 100%; height: 100%;"/>
                                                                        </a>
                                                                        #}{#<p class="pull-down">{{ content.title }} </p>#}{#
                                                                    </div>#}
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button data-dismiss="modal" class="btn btn-default"
                                                                            type="button">Fermer
                                                                    </button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td>
                                                    <button onclick="window.location='{{ url('_backend_articles_edit', {'id':article.id}) }}'"
                                                            type="button" class="btn btn-info btn-xs"><i
                                                                class="fa fa-edit"></i> Modifier
                                                    </button>
                                                    <button onclick="window.location='{{ url('_backend_articles_delete', {'id':article.id}) }}'"
                                                            type="button" class="btn btn-danger btn-xs"><i
                                                                class="fa fa-trash-o"></i> Supprimer
                                                    </button>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
{% block css %}
    {#<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />#}
    <link href="{{ asset('assets/backend/js/data-tables/DT_bootstrap.css') }}" rel="stylesheet" />
    <!--dynamic table-->
    <link href="{{ asset('assets/backend/js/advanced-datatable/css/demo_page.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/backend/js/advanced-datatable/css/demo_table.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('assets/backend/js/data-tables/DT_bootstrap.css') }}" />

{% endblock %}

{% block js %}
    <!--dynamic table-->
    <script type="text/javascript" language="javascript" src="{{ asset('assets/backend/js/advanced-datatable/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/backend/js/data-tables/DT_bootstrap.js') }}"></script>
    <script src="{{ asset('assets/backend/js/dynamic_table_init.js') }}"></script>

{% endblock %}