{% extends 'BDMNicolasBackendBundle::layout.html.twig' %}

{% block content %}

    <section id="main-content">
        <section class="wrapper">
            <div class="row">


                {{ render(controller('BDMNicolasBackendBundle:Partials:flashbag')) }}

                <div class="col-lg-12">
                    <section class="panel">

                        <header class="panel-heading">
                            Gestion Des MEAs
                        </header>
                        <div class="panel-body">
                            <section id="unseen">
                                <div class="clearfix">
                                    {% if blocks|length < 4 %}
                                        <div class="btn-group">
                                            <button id="editable-sample_new" class="btn btn-primary"
                                                    onclick="window.location='{{ url('_backend_content_footer_block_add') }}'">
                                                Ajouter <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                                <br/>

                                {{ render(controller('BDMNicolasBackendBundle:Partials:flashbag')) }}

                                <br/>
                                {% if blocks %}
                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Titre</th>
                                            <th>Description</th>
                                            <th>Icone</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for block in blocks %}
                                            <tr>
                                                <td>{{ block.id }}</td>
                                                <td>{{ block.title }}</td>
                                                <td>{{ block.text }}</td>
                                                <td class="numeric">
                                                    <a class="btn btn-success btn-xs" data-toggle="modal"
                                                       href="#myModal1{{ block.id }}">
                                                        Aperçu
                                                    </a>
                                                    <div class="modal fade" id="myModal1{{ block.id }}" tabindex="-1"
                                                         role="dialog" aria-labelledby="myModalLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content"
                                                                 style="display: inline-block !important;">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal"
                                                                            aria-hidden="true">&times;</button>
                                                                    <h4 class="modal-title">{{ block.title }}</h4>
                                                                </div>
                                                                <div class="modal-body"
                                                                     style="display: inline-block !important;">


                                                                    <div class="images item"
                                                                         style="display: inline-block !important;">
                                                                        <a href="#myModal{{ block.id }}"
                                                                           data-toggle="modal">
                                                                            <img src="{{ asset('/uploads/backend/content/footer/' ~ block.icon) }}"
                                                                                 alt="{{ block.title }}"
                                                                                 style="width: 100%; height: 100%;"/>
                                                                        </a>
                                                                        {#<p class="pull-down">{{ content.title }} </p>#}
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button data-dismiss="modal" class="btn btn-default"
                                                                            type="button">Fermer
                                                                    </button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button onclick="window.location='{{ url('_backend_content_footer_block_edit', {'id':block.id}) }}'"
                                                            type="button" class="btn btn-info btn-xs"><i
                                                                class="fa fa-edit"></i> Modifier
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                {% endif %}
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
